*{
    margin: 0;
    padding: 0;
    color: white;
}
.container{
    width: 100%;
    height: 745px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.link-button{
    text-decoration: none;
    font-size: 30px;
}



.home-container{
    justify-content: center;
    
}
.card{
    justify-content: center;
    display: flex;
    padding: 40px;
}

.card-body{
    background-color: red;
    padding: 35px;
    border-radius: 20px;
    width: 550px;
}

.button-nxt{
    justify-content: center;
    display: flex;
}
button{
    background-color: green;
    padding: 10px;
    border: 0;
    border-radius: 6px;
}
button:hover{
    background-color: white;
    color: green;
}

select{
    width: 200px;
    height: 31px;
    color: black;
    border: 0;
    border-radius: 16px;
    padding-left: 8px;
}
option{
    color: black;
}